<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @grade.date %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grade.description %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
